
// Color Pallet 
// ============================================

$color-red: red;
$color-cyan: cyan; 

// ============================================

// MARK: - Animation Logic

@keyframes fadeOscillator {
    0% { opacity: 0.2; }    /* Fully visible */
    50% { opacity: 0.6; }   /* Fully transparent */
    100% { opacity: 0.2; }  /* Fully visible again */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center; // X-Direction 
    align-items: start; // Y-Direction 
    height: 100vh;
}

.container {
    width: 900px;
    background-color: #222;
    padding: 1px 10px 10px 10px;
    margin-top: 5rem;
    border-radius: 10px;
}

/* Header */
.header {
    text-align: center;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    border: 1px solid $color-cyan;

    .header-buttons {
        display: flex;
    }

    :nth-child(1) {
        margin: 3px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }    
}

// MARK: - Menu Grid Logic
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.menu-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    height: 10rem;
}

.menu-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-cyan;
    border-radius: 10px;
    height: 10rem;
}

/* Grid Items */
.grid-item {
    background-color: #111;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
    background-color: #333;
    box-shadow: 0 0 10px #00ffcc;
}

/* Icon styling */
.icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Custom Buttons */
button {
    background-color: #00ffcc;
    color: #000;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00cc99;
}

// MARK: - Top Grid 

.top-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $color-cyan;
    padding: 5px;
    align-items: start;
    color: white;
    text-align: center;
}

.top-grid-item {
    height: 100%;
    background-color: #111;
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.top-grid-item:hover {
    background-color: #333;
    box-shadow: 0 0 10px #00ffcc;
}

.top-grid-right-display {
    display: grid;
    grid-template-rows: 10% 90%;
    border: 1px solid $color-cyan;
    border-radius: 10px;
    height: 100%;
    padding: 10px;

    h1 {
        background-color: blue;
        color: white;
        text-align: center;
    }

    .top-grid-right-display-body {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%; 
        overflow-y: auto;
    }
}

.project-item {
    display: grid; 
    grid-template-columns: 25% 75%;
    flex: 0 0 50%;
    height: 100%;
    padding: 1px;

    .project-item-body {
        background-color: black;
        display: flex;
        flex-direction: column;

        p {
            text-align: left;
            font-size: 0.9rem;
        }

        button {
            flex: 0.5;
            align-self: flex-end;
            width: 25%;
        }
    }
}

.project-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
}

// Image Box
.picture-container {
    position: relative;
    border-radius: 10px;
}

.base-image {

    width: 100%;
    height: 100%;
}

.overlay-image {
    padding: 5px;
    position: absolute; /* Position the overlay image absolutely within the container */
    top: 50%; /* Start at the top of the container */
    left: 50%; /* Align to the left of the container */
    transform: translate(-50%, -50%); /* Center the overlay */
    width: 100%; /* Optional: Size of the overlay */
    height: 100%;
    animation: fadeOscillator 3s infinite;
}

// MARK: Command Shell

.command-shell {
    height: 10rem; 
    border: 1px solid $color-cyan;
    border-radius: 10px;
    padding: 10px;
    color: $color-cyan;
    overflow-y: auto;
    text-align: left;
    scroll-behavior: smooth;
}

.command-shell-item {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 75%;
}

/* MARK: - Footer Area */

.footer {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    border-top: 2px solid #00ffcc;
    color: #00ffcc;
    display: flex;
    align-items: left;
    flex-direction: column;
  
    .footer-input {
      border-style: none;
      background-color: #000;
      margin-bottom: 10px;

      visibility: hidden; // Change this when we fix on the input logic

      color: $color-cyan;
      
      &::placeholder {
        color: white; 
        text-align: center;
      }
    }
}

