
// Color Pallet 
// ============================================

$color-red: red;
$color-cyan: cyan; 

// ============================================

// MARK: - Animation Logic

@keyframes fadeOscillator {
    0% { opacity: 0.2; }    /* Fully visible */
    50% { opacity: 0.6; }   /* Fully transparent */
    100% { opacity: 0.2; }  /* Fully visible again */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

body {
    background-color: #000;
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: 10% 50%;
    background-color: #222;
    padding: 1px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid pink;
    width: 75%;
    height: 75%;
}

// MARK: Header 

.header {
    text-align: center;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    border: 1px solid $color-cyan;
    height: 100%;

    background-color: red;

    .header-buttons {
        display: flex;
    }

    button {
        background-color: black;
        border: 1px solid $color-cyan;
        margin: 3px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        color: white;
    }    
}

// MARK: - Menu Grid Logic
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;

}

.menu-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    height: 15rem;
    scroll-behavior: smooth;
}

.menu-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-cyan;
    border-radius: 10px;
}

/* Grid Items */
.grid-item {
    background-color: #111;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
    background-color: #333;
    box-shadow: 0 0 10px #00ffcc;
}

/* Icon styling */
.icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Custom Buttons */
button {
    background-color: #00ffcc;
    color: #000;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00cc99;
}

// MARK: - Top Grid 

.top-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $color-cyan;
    padding: 5px;
    align-items: start;
    color: white;
    text-align: center;
    // height: 500px;
}

.top-grid-item {
    background-color: #111;
    padding: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
}

.top-grid-item:hover {
    background-color: #333;
    box-shadow: 0 0 10px #00ffcc;
}

.top-grid-right-display {
    display: grid;
    grid-template-rows: 10% 90%;
    border: 1px solid $color-cyan;
    border-radius: 10px;
    padding: 10px;

    h1 {
        color: white;
        border-bottom: 1px solid white;
        text-align: center;
    }

    .top-grid-right-display-body {
        overflow: auto;
    }
}

// MARK: Projects

.project-item {
    display: grid; 
    grid-template-columns: 25% 75%;
    padding: 1px;

    .project-item-body {
        background-color: black;
        display: flex;
        flex-direction: column;

        p {
            text-align: left;
            font-size: 0.9rem;
        }

        button {
            flex: 0.5;
            align-self: flex-end;
            width: 25%;
        }
    }
}

.project-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
}

// Image Box
.picture-container {
    position: relative;
    border-radius: 10px;
}

.base-image {
    width: 100%;
    height: 100%;
}

.overlay-image {
    padding: 5px;
    position: absolute; /* Position the overlay image absolutely within the container */
    top: 50%; /* Start at the top of the container */
    left: 50%; /* Align to the left of the container */
    transform: translate(-50%, -50%); /* Center the overlay */
    width: 100%; /* Optional: Size of the overlay */
    height: 100%;
    animation: fadeOscillator 3s infinite;
}

// MARK: Top Contact Me 

.contact-screen {
    h1 {
        margin-bottom: 1rem;
    }

    .contact-screen-body {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: repeat(7, 1fr);
        row-gap: 0.5rem;

        // border: 1px solid cyan;

        .item1 {
            grid-column: 1 / 2;
            grid-row: 1;
        }

        .item2 {
            grid-row: 1;
            grid-column: 2 / 5;
        }

        .item3 {
            grid-column: 1 / 2;
            grid-row: 2
        }

        .item4 {
            grid-column: 2 / 5;
            grid-row: 2
        }

        .item5 {
            grid-column: 1 / 2;
        }

        .item6 {
            grid-column: 2 / 5;
            grid-row: 3 / span 2;
        }

        button {
            grid-column: 4 / 5;
            grid-row: 5;
        }

        .item8 {
            // background-color: red;
            grid-row: 6 / span 2;
            grid-column: 1 / span 3;
            display: flex;
            justify-items: flex-start;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}

// MARK: Command Shell

.command-shell {
    height: 100%;
    border: 1px solid $color-cyan;
    border-radius: 10px;
    padding: 10px;
    color: $color-cyan;
    overflow-y: auto;
    text-align: left;
    scroll-behavior: smooth;
}

.command-shell-item {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 75%;
}

/* MARK: - Footer Area */

.footer {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    border-top: 2px solid #00ffcc;
    color: #00ffcc;
    display: flex;
    align-items: left;
    flex-direction: column;
  
    .footer-input {
      border-style: none;
      background-color: #000;
      margin-bottom: 10px;

      visibility: hidden; // Change this when we fix on the input logic

      color: $color-cyan;
      
      &::placeholder {
        color: white; 
        text-align: center;
      }
    }
}

