// MARK: Color Pallet 
// ============================================

$color-red: red;
$color-cyan: cyan; 

// ============================================

// MARK: CODE TO ANALYZE

// Example media query for iPhones (portrait and landscape orientation)
// @mixin iphone {
//     @media screen and (max-width: 480px) {
//       @content;
//     }
//   }
  
//   // Using the mixin
//   .example {
//     color: blue;
  
//     @include iphone {
//       color: red; // Style for iPhones
//     }
//   }

// MARK: Mixins Funcs 

@mixin iphone_se {
    @media screen and (min-width: 375px) and (max-height: 668px) {
        @content;
    }
}

// MARK: - Fixed Properties 

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// MARK: - Animation Logic

@keyframes fadeOscillator {
    0% { opacity: 0.2; }    /* Fully visible */
    50% { opacity: 0.6; }   /* Fully transparent */
    100% { opacity: 0.2; }  /* Fully visible again */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

body {
    background-color: #000;
    height: 100vh;
}

#root {
    @extend .center-flex; 
    height: 100%;

}

.container {
    display: grid;
    grid-template-rows: 8% 36% 40% 16%;
    grid-gap: 10px;

    background-color: #222;
    padding: 1px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid $color-cyan;


    // iPhone SE (1st Generation)
    @include iphone_se {
        width: 350px;
    }


    // Iphone 14 Pro Max
    @media (min-width: 430px) and (max-height: 933px) {
        width: 400px;
        height: 40%;
    }

    @media (min-width: 431px) and (max-width: 750px) {
        width: 550px;
        height: 70%;
    }


    @media (min-width: 751px) and (max-width: 1600px) {
        width: 600px;
        height: 80%;
    }

    @media (min-width: 1601px) {
        width: 900px;
        height: 90%;
    }
}

// MARK: Header 

.header {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    border: 1px solid $color-cyan;
    height: 80%;

    &-buttons {
        @extend .center-flex;
        font-size: 0.5rem;
        font-weight: bold;
        margin-right: 10px;
        height: 25%;
    }
}

// MARK: Scroll Bar Styling 

@mixin scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

    // For Google Chrome and Safari
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // Internet Explorer
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;

    // Modern browser support (Chrome 53+, Firefox 104+)
    scrollbar-width: thin;
    scrollbar-color: $foreground-color $background-color;
}

/* Grid Items */
.grid-item {
    background-color: #111;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    overflow: hidden;

    @include scrollbar(10px, $color-cyan, black)
}

.grid-item:hover {
    background-color: #333;
    box-shadow: 0 0 10px #00ffcc;
}

/* Icon styling */
.icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Custom Buttons */
button {
    background-color: #00ffcc;
    color: #000;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00cc99;
}

// MARK: - Top Grid 


@include iphone_se() {
    .top-grid > :nth-child(1) {
        display: none;
    }
}


.top-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
    
    padding: 5px;
    color: white;
    text-align: center;  
    overflow: hidden;
    height: 100%;
    width: 100%;

    @include iphone_se() {
        grid-template-columns: 100%;
    }

    &-item {
        background-color: #111;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        padding: 10px;                    
        overflow: hidden;
        border-radius: 10px;

        &-picture {
            position: relative;
            border: 1px solid $color-cyan;
            border-radius: 10px;
            
            width: 100%;
            height: 100%;
            overflow: hidden;
    
            &-base-image {
                width: 100%;
                height: 100%;
            }
    
            &-overlay-image {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%); /* Center the overlay */
                animation: fadeOscillator 3s infinite;
            }
        }

        &-about-me {
            background-color: #000;
            border: 1px solid $color-cyan;
            border-radius: 10px;
            padding: 1px;
            height: 100%;
            overflow: hidden;

            &-header {
                font-size: 0.8rem;
            }

            &-body {
                height: 95%;
                div {
                    font-size: 0.6rem;
                }
            }
        }
    }

    &-item:hover {
        background-color: #333;
        box-shadow: 0 0 10px #00ffcc;
    }
}

.top-grid-home {

    height: 100%;
    background-color: #000;
    border: 1px solid $color-cyan;
    border-radius: 10px;
    padding: 2px;

    &-header {
        font-size: 0.8rem;
    }

    &-body {
        height: 100%;

        div {
            font-size: 0.8rem;
            text-align: center;

            @include iphone_se() {
                font-size: 0.7rem;
            }
        }
    }
}


// MARK: TP: Projects

.top-grid-projects {
    display: grid;
    grid-template-rows: 10% 90%; 
    place-items: center;
    border: 1px solid $color-cyan;
    border-radius: 10px;

    padding: 10px;
    height: 100%;

    background-color: #000;

    &-header {
        width: 50%;
        font-size: 0.8rem;
    }
    
    &-body {
        width: 100%;
        height: 100%;
        overflow: auto;

        @include scrollbar(10px, $color-cyan, black);
    }
}


.project-item {
    display: grid; 
    grid-template-columns: 25% 75%;
    padding: 5px;

    &-body {
        display: flex;
        flex-direction: column;

        height: 100%;

        p {
            text-align: center;
            font-size: 0.5rem;
        }

        button {
            @extend .center-flex;
            align-self: flex-end;
            font-size: 0.5rem;
            width: 25%;
            height: 35%;
            overflow: hidden;
            white-space: nowrap; 
        }
    }
}

// MARK: - TP: Contact

.contact-screen {
    height: 100%;;

    border: 1px solid $color-cyan;
    border-radius: 10px;

    background-color: #000;

    &-header {
        font-size: 0.8rem;
        width: 100%;
    }

    &-body {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: repeat(8, 1fr);
        row-gap: 5px;
        overflow-y: scroll;
        height: 95%;

        @include scrollbar(10px, $color-cyan, black);

        &-name-label {
            grid-row: 1;
            grid-column: 1 / 2;
            font-size: 0.6rem;
        }

        &-name-field {
            grid-row: 1;
            grid-column: 2 / 4;
            font-size: 0.6rem;
        }

        &-email-label {
            grid-row: 2;
            grid-column: 1 / 2;
            font-size: 0.6rem;
        }

        &-email-field {
            grid-row: 2;
            grid-column: 2 / 5;
            font-size: 0.6rem;
        }

        &-message-label {
            grid-row: 3;
            grid-column: 1 / 2;
            font-size: 0.6rem;
        }

        &-message-textarea {
            grid-row: 3 / span 3;
            grid-column: 2 / 5;
            font-size: 0.6rem;
        }

        &-submit-button {
            grid-row: 7;
            grid-column: 4 / 5;
            
            @extend .center-flex;
            height: 25%;
            
            margin-right: 10px;
        }

        &-contact-banner {
            grid-row: 6;
            grid-column: 2 / 5;
            text-align: left;
            font-size: 0.6rem;
            color: $color-cyan; 
        }
    }
}

// MARK: TP: Professional Links 

.professional-links-screen {
    @extend .center-flex;
    flex-direction: column;
    background-color: #000;
    border: 1px solid $color-cyan;
    border-radius: 10px;
    padding: 10px;
    height: 100%;

    &-header {
        font-size: 0.8rem;
        border-bottom: 1px solid white;
    }

    &-body {        
        height: 100%;
        width: 100%;

        div:nth-child(1) {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 50%;
        }

        div {
            button {
                background-color: transparent;
                color: $color-cyan;
                border: 1px solid $color-cyan;

            }

            button:hover {
                background-color:#00ffcc;
                color: #000;
            }
        }
    }
}

.project-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
}

// MARK: - Bottom Grid 

.bottom-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2px;

    padding: 5px;
    height: 100%;
    overflow: hidden;
}

.menu-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px; 
    padding: 10px;
    background-color: #000;
    border-radius: 10px;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 100%;

    @include iphone_se() {
        grid-template-columns: none;
    }
}

.menu-grid-item {
    @extend .center-flex;
    flex-direction: column;

    border: 1px solid $color-cyan;
    border-radius: 10px;
    width: 95%;
    height: 95%;

    button {
        @extend .center-flex;
        font-size: 0.5rem;
        width: 75%;
        height: 35%;
        overflow: hidden;
        white-space: nowrap; 
    }
}

// MARK: - BG - Shell

.command-shell {
    height: 100%;
    border: 1px solid $color-cyan;
    background-color: #000;
    border-radius: 10px;
    padding: 10px;

    color: $color-cyan;

    overflow-y: auto;
    text-align: left;
    scroll-behavior: smooth;

    &-item {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 25% 75%;
    
        div {
            font-size: 0.55rem;
        }
    }
}

/* MARK: - Footer Area */

.footer {
    display: flex; 
    align-items: center;
    flex-direction: column;
    color: #00ffcc;
    height: 60%;
  
    .footer-input {
      background-color: black;
      font-size: 0.6rem;
      margin-bottom: 5px;
      height: 50%;
      width: 99%;

      visibility: hidden; // Change this when we fix on the input logic

      color: $color-cyan;
      
      &::placeholder {
        color: white; 
        text-align: center;
      }
    }

    p {
        font-size: 0.5rem;
    }
}

